# ASGI / API
fastapi==0.111.0
uvicorn[standard]==0.29.0
orjson==3.10.3

# Data & ML
pandas==2.2.2
numpy==1.26.4
scipy==1.13.0
scikit-learn==1.5.0
xgboost==2.0.3
joblib==1.4.2
imbalanced-learn==0.13.0

# Utilities
packaging==24.0
pydantic==2.7.1
python-multipart==0.0.9
sqlalchemy==2.0.27
typing_extensions>=4.10
